################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/PubSubSample.Common/bin
/Source/PubSubSample.Foundation/bin
/Source/PubSubSample.Publisher.Host/bin
/Source/PubSubSample.PubSubServer.Host/bin
/Source/PubSubSample.PubSubServer.Core/bin
/Source/PubSubSample.Subscriber.Host/bin
/Source/PubSubSample.Tests/bin
/Source/PubSubSample.Common/obj
/Source/PubSubSample.Foundation/obj
/Source/PubSubSample.Publisher.Host/obj
/Source/PubSubSample.PubSubServer.Host/obj
/Source/PubSubSample.PubSubServer.Core/obj
/Source/PubSubSample.Subscriber.Host/obj
/Source/PubSubSample.Tests/obj
/Source/packages

*.dll
*.exe
*.suo
/Source/PubSubSample.Publisher.Host/obj/Debug
/Source/PubSubSample.PubSubServer.Core/bin/Debug
/Source/PubSubSample.PubSubServer.Core/obj/Debug
/Source/PubSubSample.Subscriber.Host/bin
/Source/.vs
/.vs
/Source/PubSubSample.PubSubServer.Console/bin/Debug
/Source/PubSubSample.PubSubServer.Console/obj/Debug
/Source/PubSubSample.PubSubServer.Console/bin/Release
/Source/PubSubSample.PubSubServer.Console/obj/Release
*.coverage