<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--https://weblogs.asp.net/podwysocki/ioc-and-the-unity-application-block-once-again-->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <unity>
    <containers>
      <container>
        <type type="PubSubSample.Foundation.ServiceContracts.IProxyManager,PubSubSample.Foundation" mapTo="PubSubSample.Foundation.Proxy.ProxyManager,PubSubSample.Foundation">
          <lifetime type="singleton" />
        </type>
        <type type="PubSubSample.Foundation.Contracts.IPubSubFilter,PubSubSample.Foundation" mapTo="PubSubSample.PubSubServer.PubSubFilter,PubSubSample.PubSubServer.Core">
          <lifetime type="singleton" />
        </type>
        <type type="PubSubSample.Common.Encryption.IEncryption,PubSubSample.Common" mapTo="PubSubSample.Common.Encryption.SimpleEncryption,PubSubSample.Common">
          <lifetime type="singleton" />
        </type>
        <type type="PubSubSample.Foundation.ServiceContracts.IPubSubServicesHostingManager,PubSubSample.Foundation" mapTo="PubSubSample.Foundation.Base.PubSubServicesHostingManager, PubSubSample.PubSubServer.Core">
          <lifetime type="singleton" />
        </type>

      </container>
    </containers>

  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PubEndpointAddress" value="net.tcp://localhost:7001/Pub" />
    <add key="SubEndpointAddress" value="net.tcp://localhost:7002/Sub" />
  </appSettings>
</configuration>