<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--https://weblogs.asp.net/podwysocki/ioc-and-the-unity-application-block-once-again-->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <unity>
    <containers>
      <container>
        <type type="PubSubSample.Foundation.ServiceContracts.IProxyManager,PubSubSample.Foundation" mapTo="PubSubSample.Foundation.Proxy.ProxyManager,PubSubSample.Foundation">
          <lifetime type="singleton" />
        </type>
        <type type="PubSubSample.Foundation.Contracts.IPubSubFilter,PubSubSample.Foundation" mapTo="PubSubSample.PubSubServer.PubSubFilter,PubSubSample.PubSubServer.Core">
          <lifetime type="singleton" />
        </type>
        <type type="PubSubSample.Common.Encryption.IEncryption,PubSubSample.Common" mapTo="PubSubSample.Common.Encryption.SimpleEncryption,PubSubSample.Common">
          <lifetime type="singleton" />
        </type>
        <type type="PubSubSample.Foundation.ServiceContracts.IPubSubServicesHostingManager,PubSubSample.Foundation" mapTo="PubSubSample.Foundation.Base.PubSubServicesHostingManager, PubSubSample.PubSubServer.Core">
          <lifetime type="singleton" />
        </type>

        <type type="PubSubSample.Tests.Mocking.MockPubSubServerHost,PubSubSample.Tests" mapTo="PubSubSample.Tests.Mocking.MockPubSubServerHost,PubSubSample.Tests">
          <lifetime type="singleton" />
        </type>

        <type type="PubSubSample.Tests.Mocking.MockPublisherHost,PubSubSample.Tests" mapTo="PubSubSample.Tests.Mocking.MockPublisherHost,PubSubSample.Tests">
        </type>
        <type type="PubSubSample.Tests.Mocking.MockSubscriberHost,PubSubSample.Tests" mapTo="PubSubSample.Tests.Mocking.MockSubscriberHost,PubSubSample.Tests">
        </type>
      </container>
    </containers>
  </unity>


  <appSettings>
    <add key="PubEndpointAddress" value="net.tcp://localhost:8001/Pub" />
    <add key="SubEndpointAddress" value="net.tcp://localhost:8002/Sub" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>